In [68]:
import pandas as pd
import yfinance as yf
import time

In [69]:
url = "https://en.wikipedia.org/wiki/List_of_S%26P_500_companies"

In [70]:
tables = pd.read_html(url)

In [71]:
df_sp500 = tables[0]

In [72]:
df_table_sp=pd.DataFrame()

In [73]:
tickers=df_sp500["Symbol"]

In [74]:
# Fetch company info for each ticker
sp500=[]
for ticker_symbol in tickers:
    ticker = yf.Ticker(ticker_symbol)
    company_name = ticker.info.get("longName", "N/A")  # Get full company name
    sp500.append({"Index": "S&P 500", "Ticker": ticker_symbol, "Company Name": company_name})

In [75]:
df_table_sp=pd.DataFrame(sp500)

In [96]:
df_table_sp

       Index Ticker                    Company Name
0    S&P 500    MMM                      3M Company
1    S&P 500    AOS         A. O. Smith Corporation
2    S&P 500    ABT             Abbott Laboratories
3    S&P 500   ABBV                     AbbVie Inc.
4    S&P 500    ACN                   Accenture plc
..       ...    ...                             ...
498  S&P 500    XYL                      Xylem Inc.
499  S&P 500    YUM               Yum! Brands, Inc.
500  S&P 500   ZBRA  Zebra Technologies Corporation
501  S&P 500    ZBH    Zimmer Biomet Holdings, Inc.
502  S&P 500    ZTS                     Zoetis Inc.

[503 rows x 3 columns]

In [76]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# URL of the Wikipedia page
url = "https://en.wikipedia.org/wiki/Nikkei_225"

# Fetch the page content
response = requests.get(url)
soup = BeautifulSoup(response.content, "html.parser")

# Locate the sections with company data
sections = soup.find_all("ul")  # Most of the data is in <ul> tags

nikkei_tickers = []

# Iterate through the sections and extract company names and tickers
for section in sections:
    items = section.find_all("li")  # Each company is listed in <li>
    for item in items:
        text = item.get_text()
        if "TYO:" in text:  # Filter lines that contain tickers
            nikkei_tickers.append(text)

In [131]:
import re
tickers_only = []

for item in nikkei_tickers:
    match = re.search(r"TYO: (\d+)", item)  # Regex to find "TYO: 1234"
    if match:
        tickers_only.append(match.group(1))  # Extract only the ticker number

In [132]:
nikkei_225=[]

for ticker_symbol in tickers_only:
    print(ticker_symbol)
    ticker = yf.Ticker(ticker_symbol + ".T")
    company_name = ticker.info.get("longName", "N/A")  # Get full company name
    nikkei_225.append({"Index": "Nikkei 225", "Ticker": ticker_symbol, "Company Name": company_name})

9202
9201
7205
7267
7202
7261
7211
7201
7270
7269
7203
7272
8304
8331
7186
8354
8306
8411
8308
5831
8316
8309
3407
4061
4631
4901
4452
3405
4188
4183
4021
6988
4004
4063
4911
4005
4043
4042
4208
9433
9432
9613
9434
9984
1721
1925
1808
1963
1812
1802
1928
1803
1801
6857
6770
7751
6952
6902
6954
6504
6702
6674
6501
6861
6971
6920
6479
6503
6981
6701
6594
6703
6645
6752
6723
7752
7735
6724
6753
6758
6976
6762
8035
6506
6841
9502
9503
9501
1332
2802
2502
2914
2801
2503
2269
2871
2282
2002
2501
2531
9532
9531
5201
5333
5214
5202
5232
5233
5301
5332
8750
8725
8630
8795
8766
9147
9064
6113
6367
6361
6305
7004
7013
5631
6473
6301
6326
7011
6471
6472
6103
6302
6273
9107
9104
9101
1605
5714
5803
5801
5711
5706
3436
5802
5713
8253
8697
8591
7832
7912
7911
7951
5020
5019
4503
4519
4568
4523
4151
4578
4506
4507
4502
7762
7741
4902
7731
7733
4543
3863
3861
9022
9020
9008
9009
9007
9001
9005
9021
8802
8801
8830
8804
3289
8267
9983
3099
3086
8252
9843
3382
8233
5108
5101
8601
8604
4751
2432
4324
6178
9766
4689
4385
2413
3659
7974
4661
4755
6098
9735
9602
4704
7012
5411
5406
5401
5541
3401
3402
8001
8002
8058
8031
2768
8053
8015
9301

In [134]:
df_table_nikkei_225=pd.DataFrame(nikkei_225)
df_table_nikkei_225["Ticker"]=df_table_nikkei_225["Ticker"]+".T"

In [ ]:
url_singapore = "https://en.wikipedia.org/wiki/Straits_Times_Index"

# Scrape the companies
sti_companies = pd.read_html(url_singapore)[1]

In [ ]:
# Example KOSPI URL south korea
url_kospi = "https://en.wikipedia.org/wiki/KOSPI"

# Scrape the companies
kospi_companies = pd.read_html(url_kospi)[1]

In [90]:
# hang seng index 
url_hsi = "https://en.wikipedia.org/wiki/Hang_Seng_Index"
tables_hsi = pd.read_html(url_hsi)
df_hsi = tables_hsi[6]
tickers_hsi = df_hsi["Ticker"].str.extract(r"SEHK:\s*(\d+)")[0].str.zfill(4)  + ".HK"
hsi=[]
for ticker_symbol in tickers_hsi:
    print(ticker_symbol)
    ticker = yf.Ticker(ticker_symbol)
    company_name = ticker.info.get("longName", "N/A")  # Get full company name
    hsi.append({"Index": "Hang Seng", "Ticker": ticker_symbol, "Company Name": company_name})

0005.HK
0011.HK
0388.HK
0939.HK
1299.HK
1398.HK
2318.HK
2388.HK
2628.HK
3968.HK
3988.HK
0002.HK
0003.HK
0006.HK
0836.HK
1038.HK
2688.HK
0012.HK
0016.HK
0017.HK
0101.HK
0688.HK
0823.HK
0960.HK
1109.HK
1113.HK
1209.HK
1997.HK
6098.HK
0001.HK
0027.HK
0066.HK
0175.HK
0241.HK
0267.HK
0288.HK
0291.HK
0316.HK
0322.HK
0386.HK
0669.HK
0700.HK
0762.HK
0857.HK
0868.HK
0881.HK
0883.HK
0941.HK
0968.HK
0981.HK
0992.HK
1044.HK
1088.HK
1093.HK
1099.HK
1177.HK
1211.HK
1378.HK
1810.HK
1876.HK
1928.HK
1929.HK
2015.HK
2020.HK
2269.HK
2313.HK
2319.HK
2331.HK
2359.HK
2382.HK
2899.HK
3690.HK
3692.HK
6618.HK
6690.HK
6862.HK
9618.HK
9633.HK
9888.HK
9961.HK
9988.HK
9999.HK

In [94]:
df_table_hsi=pd.DataFrame(hsi)

nifty_50

In [111]:
url_nifty = "https://en.wikipedia.org/wiki/NIFTY_50"
tables_nft = pd.read_html(url_nifty)
df_nft = tables_nft[1]
tickers_nft=df_nft.Symbol + ".NS"
nifty=[]
for ticker_symbol in tickers_nft:
    # print(ticker_symbol)
    ticker = yf.Ticker(ticker_symbol)
    company_name = ticker.info.get("longName", "N/A")  # Get full company name
    nifty.append({"Index": "NIFTY 50", "Ticker": ticker_symbol, "Company Name": company_name})

In [112]:
df_table_nifty=pd.DataFrame(nifty)

In [136]:
df_all=pd.concat([df_table_sp,df_table_hsi,df_table_nikkei_225],ignore_index=True)

In [137]:
df_all=pd.concat([df_all,df_table_nifty],ignore_index=True)

In [139]:

# df_all.to_csv("Index.csv", index=False)

In [151]:
screaner_data=[]
for ticker in df_table_sp["Ticker"]:
    empresa=yf.Ticker(ticker)
    info=empresa.info
    screaner_data.append({
        "Ticker":ticker,
        "Company Name":info.get("longName","N/A"),
        "Market Cap":info.get("marketCap","N/A"),
        "P/E Ratio":info.get("trailingPE","N/A"),
        "Dividend Yield":info.get("dividendYield","N/A"),
        "Sector":info.get("sector","N/A"),
        "Industry":info.get("industry","N/A"),
        "Currency":info.get("currency","USD")
    })
    time.sleep(1)

In [152]:

for ticker in df_table_hsi["Ticker"]:
    empresa=yf.Ticker(ticker)
    info=empresa.info
    screaner_data.append({
        "Ticker":ticker,
        "Company Name":info.get("longName","N/A"),
        "Market Cap":info.get("marketCap","N/A"),
        "P/E Ratio":info.get("trailingPE","N/A"),
        "Dividend Yield":info.get("dividendYield","N/A"),
        "Sector":info.get("sector","N/A"),
        "Industry":info.get("industry","N/A"),
        "Currency":info.get("currency","USD")
    })
    time.sleep(1)

In [153]:

for ticker in df_table_nikkei_225["Ticker"]:
    empresa=yf.Ticker(ticker)
    info=empresa.info
    screaner_data.append({
        "Ticker":ticker,
        "Company Name":info.get("longName","N/A"),
        "Market Cap":info.get("marketCap","N/A"),
        "P/E Ratio":info.get("trailingPE","N/A"),
        "Dividend Yield":info.get("dividendYield","N/A"),
        "Sector":info.get("sector","N/A"),
        "Industry":info.get("industry","N/A"),
        "Currency":info.get("currency","USD")
    })
    time.sleep(1)

In [154]:

for ticker in df_table_nifty["Ticker"]:
    empresa=yf.Ticker(ticker)
    info=empresa.info
    screaner_data.append({
        "Ticker":ticker,
        "Company Name":info.get("longName","N/A"),
        "Market Cap":info.get("marketCap","N/A"),
        "P/E Ratio":info.get("trailingPE","N/A"),
        "Dividend Yield":info.get("dividendYield","N/A"),
        "Sector":info.get("sector","N/A"),
        "Industry":info.get("industry","N/A"),
        "Currency":info.get("currency","USD")
    })
    time.sleep(1)

In [156]:
df_screener=pd.DataFrame(screaner_data)

In [174]:
# df_screener.to_csv("screenerdf.csv", index=False)

In [159]:
df_screener.dtypes

Ticker            object
Company Name      object
Market Cap        object
P/E Ratio         object
Dividend Yield    object
Sector            object
Industry          object
Currency          object
dtype: object

In [160]:
numeric_columns=["Market Cap","P/E Ratio","Dividend Yield"]

In [ ]:
df_screener=df_screener

In [165]:
for col in numeric_columns:
    df_screener[col]=pd.to_numeric(df_screener[col],errors="coerce")

In [169]:
df_screener["Currency"].value_counts()

Currency
USD    503
JPY    227
HKD     82
INR     50
Name: count, dtype: int64

In [170]:
currency_tickers=["JPY=X","HKD=X","INR=X"]
exchange_rate_data=yf.Tickers(currency_tickers)

In [171]:
exchange_rates={"JPY":exchange_rate_data.tickers["JPY=X"].info.get("previousClose"),
                "HKD":exchange_rate_data.tickers["HKD=X"].info.get("previousClose"),
                "INR":exchange_rate_data.tickers["INR=X"].info.get("previousClose")
                }

In [172]:
exchange_rates

{'JPY': 155.16, 'HKD': 7.7918, 'INR': 86.59}

In [175]:
def convert_to_usd(row):
    if row["Currency"] in exchange_rates and row["Market Cap"]!="N/A":
        return row["Market Cap"]/exchange_rates[row["Currency"]]
    return row["Market Cap"]

In [176]:
df_screener["Market Cap USD"]=df_screener.apply(convert_to_usd,axis=1)

In [179]:
df_screener=df_screener.merge(df_all[["Ticker","Index"]],on="Ticker")

In [180]:
df_screener.rename(columns={"Index":"Market"},inplace=True)

In [ ]:
# df_screener.to_csv("global_screener.csv", index=False)

In [184]:
def rank_stocks (df,column):
    df["Rank"]=df[column].rank(ascending=False,method="min")
    ranked_df=df.sort_values("Rank").head(25)
    return ranked_df[["Rank","Ticker","Company Name",column]]

In [189]:
df_screener

,Ticker,Company Name,Market Cap,P/E Ratio,Dividend Yield,Sector,Industry,Currency,Market Cap USD,Market
0,MMM,3M Company,8.175129e+10,20.873276,0.0199,Industrials,Conglomerates,USD,8.175129e+10,S&P 500
1,AOS,A. O. Smith Corporation,1.003655e+10,18.263853,0.0196,Industrials,Specialty Industrial Machinery,USD,1.003655e+10,S&P 500
2,ABT,Abbott Laboratories,2.217681e+11,16.713726,0.0202,Healthcare,Medical Devices,USD,2.217681e+11,S&P 500
3,ABBV,AbbVie Inc.,3.097089e+11,61.066204,0.0374,Healthcare,Drug Manufacturers - General,USD,3.097089e+11,S&P 500
4,ACN,Accenture plc,2.341922e+11,31.358461,0.0170,Technology,Information Technology Services,USD,2.341922e+11,S&P 500
...,...,...,...,...,...,...,...,...,...,...
857,TECHM.NS,Tech Mahindra Limited,1.477370e+12,39.575830,0.0255,Technology,Information Technology Services,INR,1.706168e+10,NIFTY 50
858,TITAN.NS,Titan Company Limited,2.987922e+12,91.682080,0.0033,Consumer Cyclical,Luxury Goods,INR,3.450655e+10,NIFTY 50
859,TRENT.NS,Trent Limited,1.968683e+12,108.211270,0.0006,Consumer Cyclical,Apparel Retail,INR,2.273569e+10,NIFTY 50
860,ULTRACEMCO.NS,UltraTech Cement Limited,3.307996e+12,53.172450,0.0065,Basic Materials,Building Materials,INR,3.820298e+10,NIFTY 50
861,WIPRO.NS,Wipro Limited,3.231584e+12,26.097973,0.0017,Technology,Information Technology Services,INR,3.732052e+10,NIFTY 50